* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #33333383;
  color: #333;
}
.main {
  margin: 30% auto;
  padding: 2%;
  box-shadow: 0 0 10px white;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
input,
button {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}
button{
    cursor: pointer;
    background: rgba(0, 128, 0, 0.682);
}
.resultheader {
  display: flex;
  justify-content: space-between;
  padding: 2% 20%;
  font-weight: 800;
}
.resultheader span {
  border-bottom: 1px solid #333;
}
#result {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding: 1% 24% 1% 0;
}
