* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  margin-top: 10rem;
}
.header {
  max-width: 80rem;
  box-shadow: 0 0 30px #9900992c;
  padding: 3rem;
  margin: auto;
  margin-bottom: 5rem;
  position: relative;
}
.logo {
  position: absolute;
  top:0;
  left: 0;
  box-shadow: 0 0 6px #3333335c;
  padding: 5px;
  border-radius: 5%;
  font-weight: 700;
  transition: 0.5s;
}
.logo:hover {
  transform: translateY(-3px);
  background: linear-gradient(to right, #e1e1099e, #3333335c);
  color: whitesmoke;
  transform: translateY(-3px);
  text-shadow: 3px 3px 6px rgb(27, 26, 22);
}

h1 {
  font-size: 4rem;
  border-bottom: 2px solid #333;
  max-width: 80rem;
  margin: auto;
  margin-bottom: 3rem;
}
.input-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.sub-input {
  width: 100%;
  display: flex;
}
.sub-input label {
  width: 30%;
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
}
.sub-input > input {
  width: 70%;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #33333347;
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 20px;
}
.sub-input > input:focus {
  border: 1px solid rgba(0, 0, 255, 0.654);
}
.submit-Btn {
  padding: 10px 80px;
  font-size: 2.5rem;
  letter-spacing: 1.6rem;
  font-weight: 700;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 10px #33333347;
  border-radius: 20px;
  margin: 3rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.submit-Btn:hover {
  background: linear-gradient(to right, #e1e1099e, #3333335c);
  color: whitesmoke;
  transform: translateY(-3px);
  text-shadow: 3px 3px 6px rgb(27, 26, 22);
}
#finalResult {
  box-shadow: 0 0 5px #33333347;
  border-radius: 20px;
  font-size: 2rem;
  padding: 5px 10px;
  text-align: left;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
#finalResult > h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1rem;
}
#finalResult > ul > li {
  box-shadow: 0 0 5px #33333347;
  border-radius: 20px;
  padding: 0.6rem 0;
  padding-left: 1rem;
  list-style: none;
  margin: 0.8rem 0;
}
#finalResult > ul > li:hover {
  transform: translateY(-2px);
}
#finalResult > p {
  background-color: #3333336e;
  border-radius: 20px;
  margin-bottom: 1rem;
  padding: 0.6rem;
  font-size: 3rem;
  color: wheat;
  font-weight: 700;
  letter-spacing: 0.6rem;
}

/* response here */
@media (max-width: 600px) {
  .submit-Btn {
    padding: 3px 7px;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  h1 {
    font-size: 2rem;
  }
  .input-list {
    display: block;
  }
  .sub-input > input {
    padding-left: 1rem;
    font-size: 1rem;
  }
  .sub-input label {
    font-size: 1rem;
    font-weight: 500;
  }
  .sub-input {
    margin: 1rem auto;
  }
  #finalResult {
    font-size: 1rem;
    font-weight: 500;
  }
  #finalResult > p {
    font-size: 1.5rem;
  }
}
