 *{
    margin: 0;
    padding: 0;
 }
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 p{
    width: 100%;
    background-color: aquamarine;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 5rem;
 }