*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
.container{
    position:relative;
}
.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color:#8c8484;
    box-shadow: 0 0 30px rgba(0,0,0,0.9);
    border: 1px solid #ebcccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 1.5rem;
}
.clock::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background: white;
    border-radius: 50%;
    z-index: 3;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
  position: absolute;
  background-color:var(--clr);
  height: var(--h);
  width: 7px;  
  border-radius: 10px;
}